.button-and-ds {
  background: rgb(245,124,0);
  color: #fff;
  width: 100%;
  border: 0;
  height: 48px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 17px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}